@include extjs-button-small-ui($ui: 'pivot-iconbutton',
    $background-color: transparent,
    $background-color-focus: transparent,
    $background-color-pressed: transparent,
    $background-color-focus-pressed: transparent,
    $border-color: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-focus-pressed: transparent,
    $glyph-color: #252525,
    $glyph-opacity: 1,
    $color: #252525);